<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>

<body>
    <%- include("./partials/nav.ejs") %>
    <h1 class="new">Golly, you've discovered a new Animal, let us log it in our records!</h1>

    <p class="new-instructions">Fill in below to catalog!</a>

        <form action="/animals" method="post" class="cta-new">
            Species: <input type="text" name="species"><br>
            Location: <input type="text" name="location"><br>
            Life Expectancy: <input type="number" name="lifeExpectancy"><br>
            Extinct: <input type="checkbox" name="extinct" value="true"><br>
            Image Link: <input type="text" name="imageLink"><br>
            <input type="submit" value="Log your discovery">
        </form>
</body>
</html>